.divPages {
    padding: 5px;
}

.divPages span {
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}

.divPages button {
    border: none;
}

.divPages span:hover,.divPages button:hover {
    background: #f0f0f0;
    border-radius: 50%;
}

.divPages .active {
    border-radius: 50%;
    background: #b5b3d7;
}
